@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Murker';
    src: url('./murker.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aego';
    src: url('./aegobox.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    background-size: cover;
    background-position:center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Murker', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    font-family: Aego;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}